.about{
    position: relative;
    background-color: #333;
    width: auto;
    margin: 5px 10px;
    padding: 20px 20px;
    border-radius: 15px;
    color: ivory;
    box-sizing: border-box;
}

.about h2{
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    font-size:  3.3vw;
}

.about h3{
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    font-size: 2.5vw;
}

.about h4{
    text-align: center;
    font-weight: 500;
    font-size: 1.9vw;
}

/* media queries */
@media screen and (min-width: 1200px){
    .about h2{
        font-size: 39.6px !important;
    }

    .about h3{
        font-size: 30px !important;
    }

    .about h4{
        font-size: 22.8px !important;
    }
}

@media screen and (max-width: 800px){
    .about h2{
        font-size: 24px !important;
    }

    .about h3{
        font-size: 20px !important;
    }

    .about h4{
        font-size: 15.2px !important;
    }
}

